In [ ]:
#The purpose of this script is to clean the news header data by matching the keyword to the Mcdonald dictionary
#To do = extract mood of the keyword
import pandas as pd
import nltk
from itertools import chain

In [5]:
#Load dictionary
LMD = pd.read_excel("D:\\NLP\\LoughranMcDonald_MasterDictionary_2014.xlsx")

In [6]:
#The original file use year instead of flag variable
#Change to flag variable 1 = indicate the sentiment

LMD.loc[LMD.Negative != 0 , 'Negative'] = 1
LMD.loc[LMD.Positive != 0 , 'Positive'] = 1
LMD.loc[LMD.Uncertainty != 0 , 'Uncertainty'] = 1
LMD.loc[LMD.Litigious != 0 , 'Litigious'] = 1
LMD.loc[LMD.Superfluous != 0 , 'Superfluous'] = 1
LMD.loc[LMD.Interesting != 0 , 'Interesting'] = 1

In [7]:
#Change from list of list to list
main_word = LMD[["Word"]].values.flatten().tolist()

#Test
"ABACI" in main_word

True

In [8]:
#Import Stopwords
#The Mcdonald contains stopwords
from nltk.corpus import stopwords

In [9]:
#Download only if run this for the first time
#Uncomment the command below
#nltk.download()
stop_words = stopwords.words('english')
print(stop_words)

['i', 'me', 'my', 'myself', 'we', 'our', 'ours', 'ourselves', 'you', "you're", "you've", "you'll", "you'd", 'your', 'yours', 'yourself', 'yourselves', 'he', 'him', 'his', 'himself', 'she', "she's", 'her', 'hers', 'herself', 'it', "it's", 'its', 'itself', 'they', 'them', 'their', 'theirs', 'themselves', 'what', 'which', 'who', 'whom', 'this', 'that', "that'll", 'these', 'those', 'am', 'is', 'are', 'was', 'were', 'be', 'been', 'being', 'have', 'has', 'had', 'having', 'do', 'does', 'did', 'doing', 'a', 'an', 'the', 'and', 'but', 'if', 'or', 'because', 'as', 'until', 'while', 'of', 'at', 'by', 'for', 'with', 'about', 'against', 'between', 'into', 'through', 'during', 'before', 'after', 'above', 'below', 'to', 'from', 'up', 'down', 'in', 'out', 'on', 'off', 'over', 'under', 'again', 'further', 'then', 'once', 'here', 'there', 'when', 'where', 'why', 'how', 'all', 'any', 'both', 'each', 'few', 'more', 'most', 'other', 'some', 'such', 'no', 'nor', 'not', 'only', 'own', 'same', 'so', 'than', 'too', 'very', 's', 't', 'can', 'will', 'just', 'don', "don't", 'should', "should've", 'now', 'd', 'll', 'm', 'o', 're', 've', 'y', 'ain', 'aren', "aren't", 'couldn', "couldn't", 'didn', "didn't", 'doesn', "doesn't", 'hadn', "hadn't", 'hasn', "hasn't", 'haven', "haven't", 'isn', "isn't", 'ma', 'mightn', "mightn't", 'mustn', "mustn't", 'needn', "needn't", 'shan', "shan't", 'shouldn', "shouldn't", 'wasn', "wasn't", 'weren', "weren't", 'won', "won't", 'wouldn', "wouldn't"]

In [82]:
#Read the raw_data
news_data = pd.read_json("D:\\NLP\\WSJ\\wsj.json")

In [41]:
print(news_data.shape)
print(news_data.head())

(63032, 3)
        category                                               date  \
0     [Politics]  [\n      Updated Jan. 1, 2012 11:06 p.m. ET\n ...
1         [Tech]          [\n  Updated Jan. 1, 2012 9:25 p.m. ET\n]
2     [Business]          [\n  Updated Jan. 1, 2012 9:05 a.m. ET\n]
3     [Business]                 [\n  Jan. 1, 2012 10:36 p.m. ET\n]
4  [Health Care]          [\n  Updated Jan. 1, 2012 9:00 p.m. ET\n]

                                               title
0  [White House Looks to Shrunken 2012 Legislativ...
1            [China Issues Rules on Web Competition]
2       [Rio Tinto Unit Shuts Out Workers in Quebec]
3             [Hyundai Heavy Expects Difficult Year]
4       [Hong Kong Poultry Ban After Bird Flu Death]

In [83]:
# for i in range(10):
#     print(news_data_title[i][0])

#Convert from list of list to list using .str[0]
news_data["title"] = news_data["title"].str[0]    
news_data["category"] = news_data["category"].str[0]    
news_data["date"] = news_data["date"].str[0]    
news_data.head(4)

,category,date,title
0,Politics,"\n Updated Jan. 1, 2012 11:06 p.m. ET\n",White House Looks to Shrunken 2012 Legislative...
1,Tech,"\n Updated Jan. 1, 2012 9:25 p.m. ET\n",China Issues Rules on Web Competition
2,Business,"\n Updated Jan. 1, 2012 9:05 a.m. ET\n",Rio Tinto Unit Shuts Out Workers in Quebec
3,Business,"\n Jan. 1, 2012 10:36 p.m. ET\n",Hyundai Heavy Expects Difficult Year

In [ ]:
#Extract date from the given string#

final_date = [] 
lookup_month = ["jan" , "feb" , "mar" , "apr" , "may" , "jun" , "jul" , "aug" , "sep" , "oct" , "nov" , "dec"]
row = news_data.shape[0] 
track = 1 #just to track progress

for i in range(row):
    text = news_data["date"][i]
    text = text.lower()
    
    #split by comma (month and day before comma and after comma is year)
    temp = text.split(",")
    
    #Get day
    day = temp[0][-2:].replace("  ", "")
    
    #Get year
    year = temp[1][0:5].replace(" ","")
    
    #Get month
    for m  in lookup_month:
        if temp[0].find(m) != -1:
            month = m 
    
    #Print process
    if i/10000 > track:
        print(i)
        track = track + 1
    
    final_date.append(day + "-" + month + "-" + year)

    
# test = "Updated Jan. 31, 2012 9:25 p.m. ET"
# test = test.lower()
# test.find("jan")
#Day
#test.split(",")[0][-2:].replace(" " , "")

#Year = second list from 1:5
#day = last two digit

In [ ]:
#The output of this chunk is the "score.csv" file.... no need to run it again
#Need to change this to also extract the mood of the market

#See https://machinelearningmastery.com/clean-text-machine-learning-python/
#test = ["This is a a a ABAFT a ZOOM" , "AARDVARK V CJAS AARDVARKS ABALONE ABALONE"]
# for i in range(10):
#     print(news_data["title"][i])

final_score = []
track = 1
for i in range(row): #For each news header
    #score = w1+w2+...
    data = news_data["title"][i]
    accum = 0 
    
    tokens = nltk.word_tokenize(data) #Tokenize each news header
    tokens = [w.lower() for w in tokens] #Convert to lower case
    
    stop_words = set(stopwords.words('english')) #Remove stop word
    words = [w for w in tokens if not w in stop_words]
    
    words = [w.upper() for w in words] #Convert to upper case since the dictionary is in uppercase 
    words = [a for a in words if a in main_word] #Match only those word in the main_Word
    
    #Calculate score for each news header
    #Get word proportion of each matched token

    for token in words:
        temp_score = LMD.loc[LMD.Word == token,  'Word Proportion'].values
        #list of list to list
        temp_score = temp_score[0]
        
        accum = accum + temp_score
    
    final_score.append(accum)
        
    #Print process
    if i/10000 > track:
        print(i)
        track = track + 1

    print(i)
    
#THEN WE HAVE SCORE FOR EACH\ TOPIC
#THEN WE FILTER OUT 
#LET"S SAY WE TAKE ANYTHING WITH SCORE >=...
#NOW EACH DAY WE WILL HAVE THE SUM OF FEATURE 
#DAY1 -> total_panic_score total_n score .....

In [249]:
news_data.shape
news_data["score"] = final_score

In [254]:
news_data["final_date"] = final_date

In [256]:
news_data.sample(10)
news_data_final = news_data.drop('date', 1)

In [258]:
news_data_final.sample(10)

,category,title,score,final_date
31763,DJFX Trader,Rupee Takes a Toll on Foreign Companies,8.901475e-04,28-jun-2012
32577,Bookshelf,How the Fittest Theory Survived,4.349556e-06,4-jul-2012
56901,IPOs,"After Low Pricing, China's YY Gains 7.7% on Na...",4.773402e-04,21-nov-2012
3298,Middle East,U.S. Moves to Shut Embassy in Syria,8.507683e-06,21-jan-2012
14492,Political Diary,The Real Democrats of New York,1.212421e-03,26-mar-2012
10423,Bookshelf,High And Mighty,1.421656e-04,1-mar-2012
36860,The Americas,Rescuing Salvadoran Democracy,7.790649e-08,29-jul-2012
56403,Asia,Asean Pursues Framework for Addressing Sea Dis...,1.010866e-04,18-nov-2012
34214,Region,Delta Flight to Madrid Returns to JFK After De...,2.002401e-04,13-jul-2012
52136,DJFX Trader,Canadian Dollar Gives Back Gains,4.195679e-04,25-oct-2012

In [259]:
news_data_final.to_csv("score.csv")